.container {
    display: flex;
    flex-direction: column;
    max-width: 50%; /* Расширяем контейнер на 80% от ширины экрана */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}
.form-group {
    margin-bottom: 10px;
}
#message {
    width: 100%; /* Растягиваем текстовое поле на 100% ширины контейнера */
    max-width: 300px; /* Устанавливаем максимальную ширину текстового поля */
}
