body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.container {
    text-align: center;
/*    margin-top: 25vh;*/
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px; /* Добавление отступов для кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убрать границу */
    cursor: pointer; /* Изменение указателя при наведении */
}